/* Body and global styling */
body {
    background-color: #2c2c2c; /* Dark background */
    color: #f5f5f5; /* Light text */
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, .card-title {
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for modern look */
  }
  
  /* Header styling */
  header {
    background-color: #1f1f1f;
    border-color: #ffdd47; /* Accent color */
  }
  
  header h1 {
    color: #ffdd47;
  }
  
  /* Button styles */
  button {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  button.btn-success {
    background-color: #ffdd47;
    border: none;
  }
  
  button.btn-success:hover {
    background-color: #ffdd47;
  }
  
  /* Modal styling */
  .modal-content {
    background-color: #333;
    color: #f5f5f5;
    border-radius: 8px;
    border: none;
  }
  
  .modal-header, .modal-footer {
    border: none;
  }
  
  .modal-title {
    color: #ffdd47;
  }

  
  .card {
    background-color: #1f1f1f;
    border: none;
    border-radius: 12px;
  }
  
  .card-header {
    background-color: black;
    border-bottom: 2px solid #ffdd47;
  }
  
  .card-body {
    color: #ddd;
  }
  
  /* Task cards */
  .task-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
  
  .task-card.bg-primary {
    background-color: #ffdd47;
  }
  
  .task-card.bg-warning {
    background-color: #FFCC00;
  }
  
  .task-card.bg-danger {
    background-color: #ff4c4c;
  }
  
  .task-card.bg-success {
    background-color: #4CAF50;
  }
  
  /* Footer */
  footer {
    background-color: #1f1f1f;
    color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    border-top: 3px solid #ffdd47;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Input and form elements */
  input, select, textarea {
    background-color: #444;
    color: #f5f5f5;
    border: 1px solid #666;
    border-radius: 8px;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #ffdd47;
    box-shadow: 0 0 5px rgba(71, 80, 255, 0.8);
  }
  
  input[type="date"] {
    background-color: #555;
  }
  
  input[type="number"] {
    width: 100%;
  }
  